.main-nav {
    display: flex;
    justify-content: space-between;
    background-color: #003f5c;
    height: 50px;
    color: white;
}

.main-logo-items {
    display: flex;
    align-items: center;
}

.main-logo {
    font-weight: 700;
    font-size: 20px;
    font-family: sans-serif;
}

.links {
    display: flex;
    padding-right: 30px;
    padding-top: 10px;
}

.links > li {
    padding: 0 7px;
}

.link-logo {
    width: 30px;
    height: 30px;
}

#about-icon {
    height: 34px;
    width: 34px;
    padding-bottom: 10px;
}