.user-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    background-color: #4056a1;
    width: 100%;
}

.player-search-form {
    padding: 5px;
}

.player-search-input {
    width: 700px;
    height: 33px;
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    padding-right: 5px;
}

.selected-players {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 828px;
    padding-top: 10px;
}

.selected-players > .selected-player {
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    height: 33px;
    border-radius: 3px;
}

.remove-player-button {
    padding-left: 10px;
}

.input-label {
    color: white;
}

.button {
    border: none;
    border-radius: 3px;
}

.button:hover {
    color: white;
    background-color: #d79922;
}

.player-search-form > .button {
    padding: 10px;
}

.other-inputs > .button {
    padding: 4px;
}

.user-input-label {
    color: white;
}

.user-input {
    padding: 3px;
    border-radius: 3px;
    border: none;
    margin: 5px;
}