.user-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    height: 210px;
    background-color: #003f5c;
    width: 100%;
}

.player-search {
    display: flex;
    flex-direction: column;
}

.player-search-form {
    padding-left: 5px;
    width: 100%;
}

.player-search-input {
    width: 700px;
    height: 33px;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid white;
    padding-left: 10px;
    padding-right: 5px; 
    font-size: 16px; 
}

.no-outline:focus {
    outline: none;
    box-shadow: none; 
}

.search-results {
    background-color: white;
    width: 715px;
    margin-left: 5px;
    border-radius: 2px;
    position: absolute;
    margin-top: 35px;
    max-height: 160px;
    overflow: auto;
    border-radius: 10px;
}

.search-result {
    padding: 5px;
}

.no-results {
    color: gray;
    padding: 5px;
}

.search-result:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.selected-players {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 828px;
    padding-top: 10px;
}

.selected-players > .selected-player {
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    height: 33px;
    border-radius: 3px;
}

.remove-player-button {
    padding-left: 10px;
}

.input-label {
    color: white;
}

.button {
    border: none;
    border-radius: 3px;
    margin-left: 5px;
}

.button:hover {
    color: white;
    background-color: #7a5195;
}

.player-search-form > .button {
    padding: 10px;
}

.other-inputs > .button {
    padding: 4px;
}

.user-input-label {
    color: white;
    padding-left: 8px;
}

.user-input {
    padding: 3px;
    border-radius: 3px;
    border: none;
    margin: 5px;
}

.other-inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width:max-content;
}

.loading {
    display: flex;
    justify-content: center;
    animation: loading 1s linear infinite;
    position: absolute;
    margin-left: 865px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.loading::after {
    content: "";
    width: 10px;
    height: 10px;
    border: 3px solid transparent;
    border-top-color: white;
    border-right-color: white;
    border-radius: 50%;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

.disabled{
  pointer-events: none;
}
